<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Contact us page</title>
        <meta name="description" content="">
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="favicon.png">


        <!-- Google fonts links-->
        <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Heebo:100,300,400,500,700,800,900|Nunito" rel="stylesheet">


        <!--For Plugins external css-->
        <link rel="stylesheet" href="assets/css/plugins.css">

        <link rel="stylesheet" href="assets/css/bootstrap-touch-slider.css">

        <!--Theme custom css -->
        <link rel="stylesheet" href="assets/css/style.css">
        <!--<link rel="stylesheet" href="assets/css/colors/blue.css">-->

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="assets/css/responsive.css" />

        <script src="assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>


    </head>
    <body data-spy="scroll" data-target=".navbar-collapse">

        <!-- Preloader -->
        <div class="preloader loaderbox">
            <div id="cupcake" class="loaderbox">
                <span class="letter">L</span>
                <div class="cupcakeCircle loaderbox"><div class="cupcakeInner loaderbox"><div class="cupcakeCore loaderbox"></div></div></div>
                <span class="letter loaderbox">A</span><span class="letter loaderbox">D</span><span class="letter loaderbox">I</span><span class="letter loaderbox">N</span><span class="letter loaderbox">G</span>
            </div>
        </div>
        <!--End off Preloader -->


        <!--Home page style-->

        <nav class="navbar home1_menu navbar-fixed navbar-default navbar-mobile bootsnav is-visible xsaa" data-nav-status="toggle">
            <div class="container-fluid"> 
                <div class="row"> 
                    <!-- Start Top Search -->
                    <div class="top-search">
                        <div class="container">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                <input type="text" class="form-control" placeholder="Search">
                                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </div>
                    <!-- End Top Search -->
                    <div class="container">
                        <div class="row">
                            <div class="attr-nav">
                                <ul>
                                    <li class="search"><a href="contactus.html#" class="hv1"><i class="fa fa-search"></i></a></li>
                                    <li class="dropdown cart-menu">
                                        <a href="contactus.html#" class="dropdown-toggle hv1" data-toggle="dropdown" >
                                            <i class="fa fa-shopping-cart"></i>
                                            <span class="badge">0</span>
                                        </a>
                                        <ul class="dropdown-menu cart-list">
                                            <li>
                                                <a href="contactus.html#" class="photo"><img src="assets/images/logov1.png" class="cart-thumb" alt="" /></a>
                                                <h6><a href="contactus.html#">Delica omtantur </a></h6>
                                                <p>2x - <span class="price">$99.99</span></p>
                                            </li>
                                            <li>
                                                <a href="contactus.html#" class="photo"><img src="assets/images/logov1.png" class="cart-thumb" alt="" /></a>
                                                <h6><a href="contactus.html#">Delica omtantur </a></h6>
                                                <p>2x - <span class="price">$99.99</span></p>
                                            </li>
                                            <li class="total">
                                                <span class="pull-right"><strong>Total</strong>: $0.00</span>
                                                <a href="contactus.html#" class="btn btn-default btn-cart">Cart</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li id="open-button" class="side-menu">
                                        <a href="contactus.html#">
                                            <span class="icon-01"></span>
                                            <span class="icon-02"></span>
                                            <span class="icon-03"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>


                            <!-- Start Header Navigation -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                                    <i class="fa fa-bars"></i>
                                </button>
                                <a class="navbar-brand" href="contactus.html#brand"><img src="assets/images/logov1.png" class="logo" alt=""></a>
                            </div>
                            <!-- End Header Navigation -->

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="navbar-menu">

                                <ul class="nav navbar-nav navbar-center" data-in="fadeIn" data-out="fadeOut">
                                    <li class="dropdown">
                                        <a href="contactus.html#" class="dropdown-toggle" data-toggle="dropdown" >Home</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="index.html">Home One</a></li>
                                            <li><a href="index2.html">Home Two</a></li>
                                            <li><a href="index3.html">Home Three</a></li>
                                            <li><a href="index4.html">Home Four</a></li>
                                            <li><a href="onepage-one.html">OnePage Style one</a></li>
                                            <li><a href="onepage-two.html">OnePage Style Two</a></li>
                                            <li><a href="onepage-three.html">OnePage Style Three</a></li>
                                            <li><a href="onepage-four.html">OnePage Style Four</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="contactus.html#" class="dropdown-toggle" data-toggle="dropdown" >Service</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="servic-style-one.html">Service Style 1</a></li>
                                            <li><a href="servic-style-two.html">Service style 2</a></li>
                                            <li><a href="service-single-post.html">Service Single page</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="contactus.html#" class="dropdown-toggle" data-toggle="dropdown" >About</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="aboutus.html">About Us</a></li> 
                                            <li><a href="our-team.html">Out Team</a></li> 
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="contactus.html#" class="dropdown-toggle" data-toggle="dropdown" >Pricing</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="pricing-style-one.html">Pricing One </a></li>
                                            <li><a href="pricine-style-two.html">Pricing Two </a></li>
                                            <li><a href="pricing-style-three.html">Pricing Three </a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="contactus.html#" class="dropdown-toggle" data-toggle="dropdown" >Portfolio</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="portfolio-style-one.html">Portfolio One </a></li>
                                            <li><a href="portfolio-style-two.html">Portfolio Two </a></li>
                                            <li><a href="portfolio-style-three.html">Portfolio Three </a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="contactus.html#" class="dropdown-toggle" data-toggle="dropdown" >Blog</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="blogpage.html">Blog Page</a></li>
                                            <li><a href="single-blog.html">Single Blog Post</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contactus.html">Contact Us</a></li>

                                </ul>

                            </div><!-- /.navbar-collapse -->
                        </div>

                    </div>
                </div>   
            </div>   

            <!-- Start Side Menu -->
            <div class="side">
                <a href="contactus.html#" id="close-button" class="close-side text-center">
                    <span class="icon-01"></span>
                    <span class="icon-02"></span>
                    <span class="icon-03"></span>
                </a>
                <div class="side-menu-area fix">
                    <div class="text-center">
                        <a href="contactus.html" class="side-brand"><img src="assets/images/logov2.png" alt="" /></a>
                    </div>
                    <p class="m-top-40 text-black">We’re a leading Internet Digital Marketing Company who offers SEO, 
                        Paid Search, Social Media, ConsultingLead Generation, Brand Reputation 
                        Management, and Web Design Services.</p>

                    <div class="title m-top-70">
                        <h2 class="text-black">Sign in to your account</h2>
                        <div class="separator"><span></span><span></span><span></span></div>
                    </div>
                    <form class="m-top-40">
                        <div class="form-group">
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Username or Email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-round">Login</button>
                            <div class="checkbox pull-right m-top-20">
                                <label>
                                    <input type="checkbox"> Check me out
                                </label>
                            </div>
                            <div class="checkbox p-top-40">
                                <label>
                                    <input type="checkbox"> Forgot my Password?
                                </label>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <p class='text-center'>Don't have an account yet? <a href="contactus.html">Register an account</a></p>
                    </form>
                    <div class="socail-bookmark">
                        <div class="col-md-12 m-top-80">
                            <div class="title">
                                <h4 class="text-black">Socails</h4>
                                <div class="separator"><span></span><span></span><span></span></div>
                            </div>
                            <div class="contact-boxv1-item m-top-30">
                                <ul class="list-inline">
                                    <li><a href="contactus.html"><i class="icon icon-social-2"></i></a></li>
                                    <li><a href="contactus.html"><i class="icon icon-social-1"></i></a></li>
                                    <li><a href="contactus.html"><i class="icon icon-social-network"></i></a></li>
                                    <li><a href="contactus.html"><i class="icon icon-social"></i></a></li>
                                </ul>
                            </div>
                        </div><!-- End off col-md-4 -->
                        <div class="col-md-12 m-top-80">
                            <div class="title">
                                <h4 class="text-black">Address</h4>
                                <div class="separator"><span></span><span></span><span></span></div>
                            </div>
                            <div class="contact-boxv1-item m-top-30">
                                <div class="boxv1-item-img">
                                    <img src="assets/images/location-img.png" alt="" />
                                </div>
                                <div class="boxv1-item-content text-black">
                                    <p class="m-top-10 text-black">1877 Perry Street Swartz Creekson,
                                        MI 48473</p>
                                </div>
                            </div>
                        </div><!-- End off col-md-4 -->
                        <div class="col-md-12 m-top-80">
                            <div class="title">
                                <h4 class="text-black">Our Phone & Fax</h4>
                                <div class="separator"><span></span><span></span><span></span></div>
                            </div>
                            <div class="contact-boxv1-item m-top-30">
                                <div class="boxv1-item-img">
                                    <img src="assets/images/phone-fax-img.png" alt="" />
                                </div>
                                <div class="boxv1-item-content text-black">
                                    <p class="m-top-10">Phone:  (012) 345 - 6789 <br />
                                        Fax:  555 - 675 0037</p>
                                </div>
                            </div>
                        </div><!-- End off col-md-4 -->
                        <div class="col-md-12 m-top-80">
                            <div class="title">
                                <h4 class="text-black">Email</h4>
                                <div class="separator"><span></span><span></span><span></span></div>
                            </div>
                            <div class="contact-boxv1-item m-top-30">
                                <div class="boxv1-item-img">
                                    <img src="assets/images/envelop-img-02.png" alt="" />
                                </div>
                                <div class="boxv1-item-content text-black">
                                    <p class="m-top-10">Info:  seo@info.com <br />
                                        Salse:  seo@salse.com</p>
                                </div>
                            </div>
                        </div><!-- End off col-md-4 -->
                        <div class="col-md-12 m-top-80">
                            <div class="title">
                                <h4 class="text-black">Working Hours</h4>
                                <div class="separator"><span></span><span></span><span></span></div>
                            </div>
                            <div class="contact-boxv1-item m-top-30">
                                <div class="boxv1-item-img">
                                    <img src="assets/images/clock-img.png" alt="" />
                                </div>
                                <div class="boxv1-item-content text-black">
                                    <p class="">Monday to Saturday: 8:00am - 9:00pm
                                        Sunday: Closed</p>
                                </div>
                            </div>
                        </div><!-- End off col-md-4 -->
                    </div>
                </div>

            </div>
            <!-- End Side Menu -->

        </nav> <!-- End off Nav -->



        <div class="culmn">

            <!--About Banner section-->
            <div class="banner-area service-banner">
                <div class="container">
                    <div class="row">
                        <div class="main-banner text-center">
                            <h2 class="text-white">Contact Us</h2>
                            <ol class="breadcrumb">
                                <li><a href="https://demo.xpeedstudio.com/html/seopress/demo/index1.html">Home</a></li>
                                <li class="active"><a href="contactus.html">Contact</a></li>
                            </ol>
                        </div>
                    </div><!-- End off row -->
                </div><!-- End off container -->
            </div><!-- End off banner section -->




            <!--Newest Blog post section-->
            <section id="blog-page" class="blog-page sections">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="blog-post-form-area bg-grey img-rounded">
                                <div class="blog-post-form-title">
                                    <h3 class="text-black">Get In Touch</h3>
                                    <div class="separator"><span></span><span></span><span></span></div>
                                </div>
                                <div class="contact_content m-top-40">
                                    <div id="errormessage"></div>
                                    <form action="https://demo.xpeedstudio.com/html/seopress/demo/assets/scripts/contact.php" id="contactform">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <input type="text" name="name" id="name" class="form-control" placeholder="Your Name *">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input type="text" name="email" id="email" class="form-control" placeholder="Your Email *">
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input type="number" name="phone" id="phone" class="form-control" placeholder="Your Website (Optional)">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <textarea class="form-control textarea" name="message" id="message" rows="3" placeholder="Your Comment"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-round">Submit</button>
                                    </form>

                                </div><!-- End off form -->
                            </div><!-- End off form -->
                            <!-- map section-->
                            <div id="map" class="map m-top-50">
                                <div class="ourmap"></div>
                            </div><!-- End off Map section-->

                        </div><!-- End off col-md-7 -->


                        <div class="col-md-4 col-md-offset-1">
                            <div class="sidebar sm-m-top-80">
                                <div class="socail-bookmark">
                                    <div class="col-md-12">
                                        <div class="title">
                                            <h4 class="text-black">Socails</h4>
                                            <div class="separator"><span></span><span></span><span></span></div>
                                        </div>
                                        <div class="contact-boxv1-item m-top-30">
                                            <ul class="list-inline">
                                                <li><a href="contactus.html"><i class="icon icon-social-2"></i></a></li>
                                                <li><a href="contactus.html"><i class="icon icon-social-1"></i></a></li>
                                                <li><a href="contactus.html"><i class="icon icon-social-network"></i></a></li>
                                                <li><a href="contactus.html"><i class="icon icon-social"></i></a></li>
                                            </ul>
                                        </div>
                                    </div><!-- End off col-md-4 -->
                                    <div class="col-md-12 m-top-80">
                                        <div class="title">
                                            <h4 class="text-black">Address</h4>
                                            <div class="separator"><span></span><span></span><span></span></div>
                                        </div>
                                        <div class="contact-boxv1-item m-top-30">
                                            <div class="boxv1-item-img">
                                                <img src="assets/images/location-img.png" alt="">
                                            </div>
                                            <div class="boxv1-item-content text-black">
                                                <p class="m-top-10 text-black">1877 Perry Street Swartz Creekson,
                                                    MI 48473</p>
                                            </div>
                                        </div>
                                    </div><!-- End off col-md-4 -->
                                    <div class="col-md-12 m-top-80">
                                        <div class="title">
                                            <h4 class="text-black">Our Phone &amp; Fax</h4>
                                            <div class="separator"><span></span><span></span><span></span></div>
                                        </div>
                                        <div class="contact-boxv1-item m-top-30">
                                            <div class="boxv1-item-img">
                                                <img src="assets/images/phone-fax-img.png" alt="">
                                            </div>
                                            <div class="boxv1-item-content text-black">
                                                <p class="m-top-10">Phone:  (012) 345 - 6789 <br>
                                                    Fax:  555 - 675 0037</p>
                                            </div>
                                        </div>
                                    </div><!-- End off col-md-4 -->
                                    <div class="col-md-12 m-top-80">
                                        <div class="title">
                                            <h4 class="text-black">Email</h4>
                                            <div class="separator"><span></span><span></span><span></span></div>
                                        </div>
                                        <div class="contact-boxv1-item m-top-30">
                                            <div class="boxv1-item-img">
                                                <img src="assets/images/envelop-img-02.png" alt="">
                                            </div>
                                            <div class="boxv1-item-content text-black">
                                                <p class="m-top-10">Info:  seo@info.com <br>
                                                    Salse:  seo@salse.com</p>
                                            </div>
                                        </div>
                                    </div><!-- End off col-md-4 -->
                                    <div class="col-md-12 m-top-80">
                                        <div class="title">
                                            <h4 class="text-black">Working Hours</h4>
                                            <div class="separator"><span></span><span></span><span></span></div>
                                        </div>
                                        <div class="contact-boxv1-item m-top-30">
                                            <div class="boxv1-item-img">
                                                <img src="assets/images/clock-img.png" alt="">
                                            </div>
                                            <div class="boxv1-item-content text-black">
                                                <p class="">Monday to Saturday: 8:00am - 9:00pm
                                                    Sunday: Closed</p>
                                            </div>
                                        </div>
                                    </div><!-- End off col-md-4 -->
                                </div>


                            </div>
                        </div><!-- End off col-md-4 -->

                    </div> <!-- End off row -->
                </div> <!-- End off container -->
            </section> <!-- End off Blog page section-->



            <!--Brand section-->
            <section id="brand" class="bg-grey">
                <div class="container">
                    <div class="row">
                        <div class="main-brandv1">
                            <div class="col-md-2">
                                <div class="brand-itemv1">
                                    <a href="contactus.html"><img src="assets/images/brand-01.png" alt="" /></a> 
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="brand-itemv1">
                                    <a href="contactus.html"><img src="assets/images/brand-06.png" alt="" /></a> 
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="brand-itemv1">
                                    <a href="contactus.html"><img src="assets/images/brand-03.png" alt="" /></a> 
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="brand-itemv1">
                                    <a href="contactus.html"><img src="assets/images/brand-01.png" alt="" /></a> 
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="brand-itemv1">
                                    <a href="contactus.html"><img src="assets/images/brand-05.png" alt="" /></a> 
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="brand-itemv1">
                                    <a href="contactus.html"><img src="assets/images/brand-06.png" alt="" /></a> 
                                </div>
                            </div>
                        </div>
                    </div><!-- End off row -->
                </div><!-- End off container -->
            </section><!-- End off brand section-->



            <!--News Letter section--> 
            <section id="newsletterv1" class="newsletterv1 bg-primary sections4">
                <div class="container">
                    <div class="row">
                        <div class="main-newsletterv1">
                            <div class="col-md-6">
                                <div class="newsletterv1-content">
                                    <h2 class="text-white">Our Newsletter</h2>
                                    <p class="m-top-30">Subscribe to our newsletter and be the first who receives our latest news:</p>

                                    <form class="form-inline" id="newsletter-form" action="http://facebook.us8.list-manage.com/subscribe/post-json?u=85f515a08b87483d03fee7755&id=dff5d2324f">
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Your Email Address">
                                        </div>
                                        <button type="submit">Send invitation</button>
                                    </form>

                                </div>
                            </div><!-- End off col-md-6-->
                            <div class="col-md-5 col-md-offset-1 sm-m-top-50">
                                <div class="newsletterv1-feature">
                                    <img src="assets/images/newsletterv1-img.png" alt="" />
                                </div>
                            </div><!-- End off col-md-6-->
                        </div>

                    </div><!-- End off row -->
                </div><!-- End off container -->
            </section><!-- End off newsletter v1 section -->




            <!-- Footer Widget section -->
            <section id="contact" class="contact clear">
                <div class="container">
                    <div class="row">
                        <div class="main-contact-boxv1">
                            <div class="col-md-4">
                                <div class="contact-boxv1-item">
                                    <div class="boxv1-item-img">
                                        <img src="assets/images/location-img.png" alt="" />
                                    </div>
                                    <div class="boxv1-item-content text-black">
                                        <h4>Our Location</h4>
                                        <p class="m-top-10">1877 Perry Street Swartz Creekson,
                                            MI 48473</p>
                                    </div>
                                </div>
                            </div><!-- End off col-md-4 -->
                            <div class="col-md-4">
                                <div class="contact-boxv1-item sm-m-top-30">
                                    <div class="boxv1-item-img">
                                        <img src="assets/images/phone-fax-img.png" alt="" />
                                    </div>
                                    <div class="boxv1-item-content text-black">
                                        <h4>Our Phone & Fax</h4>
                                        <p class="m-top-10">Phone:  (012) 345 - 6789 <br />
                                            Fax:  555 - 675 0037</p>
                                    </div>
                                </div>
                            </div><!-- End off col-md-4 -->
                            <div class="col-md-4">
                                <div class="contact-boxv1-item sm-m-top-30">
                                    <div class="boxv1-item-img">
                                        <img src="assets/images/clock-img.png" alt="" />
                                    </div>
                                    <div class="boxv1-item-content text-black">
                                        <h4>Our Working Hours</h4>
                                        <p class="">Monday to Saturday: 8:00am - 9:00pm
                                            Sunday: Closed</p>
                                    </div>
                                </div>
                            </div><!-- End off col-md-4 -->
                        </div>
                        <div class="divider"></div>
                    </div>
                </div><!-- End off container -->

                <div class="container">
                    <div class="row">
                        <div class="main-weidgetv1 sections4">
                            <div class="col-md-4">
                                <div class="weidgetv1-item">
                                    <div class="weidget-item-logo">
                                        <img src="assets/images/logov1.png" alt="" />
                                    </div>
                                    <p class="m-top-40"><strong>SeoPress</strong> is a battle-hardened team of search engine experts in 
                                        San Francisco. Partner with us today to see how search <strong>experience
                                            optimization</strong> can revolutionize the way your website is found online.</p>
                                    <div class="widgetv1-socail m-top-30">
                                        <a href="contactus.html"><span class="icon icon-social-2"></span></a>
                                        <a href="contactus.html"><span class="icon icon-social-1"></span></a>
                                        <a href="contactus.html"><span class="fa fa-youtube"></span></a>
                                        <a href="contactus.html"><span class="icon icon-social"></span></a>
                                    </div>
                                </div>
                            </div><!-- End off col-sm-3 -->

                            <div class="col-md-3 sm-m-top-50">
                                <div class="weidgetv1-item"> 
                                    <h4 class="text-black">Our Services</h4>
                                    <ul class="service m-top-50">
                                        <li><a href="contactus.html"><span class="icon icon-arrows-2"></span> Search Engine Optimization</a></li>
                                        <li><a href="contactus.html"><span class="icon icon-arrows-2"></span> Social Media Management</a></li>
                                        <li><a href="contactus.html"><span class="icon icon-arrows-2"></span> Email Marketing</a></li>
                                        <li><a href="contactus.html"><span class="icon icon-arrows-2"></span> Brand Reputation Management</a></li>
                                        <li><a href="contactus.html"><span class="icon icon-arrows-2"></span> Web Design & Development</a></li>
                                    </ul>
                                </div>
                            </div><!-- End off col-sm-3 -->

                            <div class="col-md-5 sm-m-top-50">
                                <div class="weidgetv1-item">
                                    <h4 class="text-black">Our Latest Blog News</h4>
                                    <div class="widgetv1-blog m-top-50">
                                        <div class="row">
                                            <div class="col-xs-2 no-padding">
                                                <div class="widgetv1-blog-img">
                                                    <img class="img-circle" src="assets/images/w-b-post-img01.jpg" alt="">
                                                    <div class="widgetv1-blog-overlay"></div>
                                                </div>
                                            </div>
                                            <div class="col-xs-10">
                                                <div class="widgev1-blog-content">
                                                    <p>5 Lead Generation Ideas to Help You Better </p>
                                                    <div class="widgev1-blog-date-time">
                                                        <span><i class="icon icon-interface-1"></i>32</span>
                                                        <span><i class="icon icon-calendar"></i>2-10-2016</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row m-top-20">
                                            <div class="col-xs-2 no-padding">
                                                <div class="widgetv1-blog-img">
                                                    <img class="img-circle" src="assets/images/w-b-post-img02.jpg" alt="">
                                                    <div class="widgetv1-blog-overlay"></div>
                                                </div>
                                            </div>
                                            <div class="col-xs-10">
                                                <div class="widgev1-blog-content">
                                                    <p>Featured Snippets: A Dead-Simple Tactics </p>
                                                    <div class="widgev1-blog-date-time">
                                                        <span><i class="icon icon-interface-1"></i>21</span>
                                                        <span><i class="icon icon-calendar"></i>1-10-2016</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End off col-md-4 -->
                        </div>
                    </div><!-- End off main widget-->
                </div><!-- End off container -->
            </section><!-- End off footer widget Section -->


            <!--Footer section-->
            <footer class="footerv1 bg-black">
                <div class="scrollup">
                    <a href="contactus.html#"><img class="hvr-hang" src="assets/images/go-top-img.png" alt="" /></a>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="main-footer wow fadeInUp">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="copyright-text text-center">
                                            <p class="">&copy; Designed with  <span class="fa fa-heart"></span>  by <a href="http://xpeedstudio.com">XpeedStudio</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer><!-- End off footer Section--> 


        </div>

        <!-- JS includes -->

        <script src="assets/js/vendor/jquery-1.11.2.min.js"></script>
        <script src="assets/js/vendor/bootstrap.js"></script>

        <script src="assets/js/jquery.magnific-popup.js"></script>
        <script src="assets/js/jquery.easing.1.3.js"></script>
        <script src="assets/js/jquery.touchSwipe.min.js"></script>
        <script src="assets/js/bootsnav.js"></script>
        <script src="assets/js/jquery.formchimp.js"></script>
        <script src="assets/js/jquery-contact.js"></script>


        <script src="http://maps.google.com/maps/api/js?key=AIzaSyBjxvF9oTfcziZWw--3phPVx1ztAsyhXL4"></script>
        <script src="assets/js/gmaps.min.js"></script>
        <script>
            var map = new GMaps( {
                el: '.ourmap',
                lat: -12.043333,
                lng: -77.028333,
                scrollwheel: false,
                zoom: 13,
                zoomControl: true,
                panControl: false,
                streetViewControl: false,
                mapTypeControl: false,
                overviewMapControl: false,
                clickable: false,
                styles: [ { 'stylers': [ { 'hue': '#61c5ff' }, { saturation: -30 },
                            { gamma: 0.50 } ] } ]
            } );
            map.addMarker( {
                lat: -12.043333,
                lng: -77.028333,
                icon: "assets/images/maps-icon.png"
            } );

        </script>



        <script src="assets/js/plugins.js"></script>
        <script src="assets/js/main.js"></script>

    </body>
</html>
